AUTH0_SECRET=<your_auth0_secret_here>
AUTH0_BASE_URL='https://coding-tutor-psi.vercel.app'
AUTH0_ISSUER_BASE_URL='https://prod-code-tutor.us.auth0.com'
AUTH0_CLIENT_ID=<your_auth0_client_id_here>
AUTH0_CLIENT_SECRET=<your_auth0_client_secret_here>
AUTH0_SCOPE='openid profile email'
NEXT_PUBLIC_BASE_URL="https://coding-tutor-psi.vercel.app/"
OPEN_AI_API_KEY=<your_openai_api_key_here>
ANTHROPIC_API_KEY=<your_anthropic_api_key_here>
